/* ----------------------------------------Code Institute Milestone-3 - Evert Rot*/

/* Classes and id's that start with 'er-' are my own */

@import url('https://fonts.googleapis.com/css?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    background-image: url("/static/images/krypto_23.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

p a, table a {
    color: rgba(0, 0, 0, 0.90);
    font-weight: 900;
}

a, a:visited, a:active {
    text-decoration: unset;
}

h1 {
    font-family: 'Orbitron';
    font-size: 2rem;
    letter-spacing: 0.4rem!important;
    margin: 01rem;
    color: rgba(255, 0, 0);
    letter-spacing: 0.3rem;
    text-shadow: 2px 2px 2px rgb(225, 223, 223, 0.2);
}

h2 {
    font-family: 'Orbitron';
    font-size: 1.2rem;
    letter-spacing: 0.4rem!important;
    color: rgba(0, 0, 0);
    font-weight: 900;
    text-align: center;
}

h3 {
    text-align: center;
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 1.1rem;
}

select {
    z-index: 1000;
}

.er-logo {
    padding-right: 1rem!important;
    font-family: 'Krona One';
}

.er-inner-wrap {
    line-height: unset;
    font-size: 0.9rem;
    margin: 1rem;
    box-sizing: content-box;
    border-radius: 1rem;
    background-color: rgba(120, 122, 144, 0.3);
}

.er-inner-wrap p {
    font-size: 0.9rem;
}

.er-inner-wrap td {
    padding: 0.3rem;
}

.er-info {
    padding: 1.5rem;
    margin: 3rem;
    background-color: rgba(0, 0, 0, 0.60);
    color: white;
    border-radius: 1rem;
}

.er-small {
    padding-top: 0px;
    padding-bottom: 0px;
}

.er-dark {
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 0.3rem;
    color: white;
}

.er-white {
    color: white;
}

.er-darker {
    background-color: rgba(28, 29, 30);
    color: white;
}

.er-dark li>a {
    color: white;
}

.er-license img {
    height: 35px;
    margin-bottom: 1rem;
}

.er-message {
    color: rgba(255, 0, 0);
    font-weight: 900;
}

.er-light {
    padding: 1rem 0.5rem 1rem 0.5rem;
    background-color: rgba(245, 245, 245, 0.9);
    border-radius: 0.3rem;
}

.er-center {
    margin-left: auto;
    margin-right: auto;
}

.er-right {
    margin-right: 0px;
    margin-left: auto;
}

.er-main-content {
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.er-track-icons {
    font-family: 'Orbitron';
    font-size: 0.75rem;
    letter-spacing: .05rem;
    font-weight: 600;
}

.er-float {
    font-family: 'Orbitron';
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    width: 6rem;
    height: 6rem;
    padding-top: 0.6rem;
    color: white;
    overflow: hidden;
    z-index: 1;
    position: relative;
    transform: rotate(-10deg);
    top: 3rem;
    left: -2rem;
    background-color: rgba(55, 55, 55, 0.9);
    border-radius: 3rem;
}

.er-float span {
    font-weight: 900;
    font-size: 1.5rem;
}

/* Materialize classes */

.sidenav li>a {
    color: white;
}

.dropdown-content li>a {
    font-size: 1rem;
    color: white;
}

.dropdown-content li>span {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.90);
}

.datepicker-date-display {
    background-color: rgba(0, 0, 0, 0.60)!important;
}

.input-field {
    margin-top: 0.8rem;
    margin-bottom: 0rem;
}

.input-field label {
    color: rgba(0, 0, 0, 0.90);
}

label {
    color: rgba(0, 0, 0, 0.90);
}

.input-field .prefix {
    font-size: 1.4rem;
}

.select-wrapper input.select-dropdown {
    color: rgba(0, 0, 0, 0.90);
    font-size: 1rem;
}

.input-field input::placeholder, textarea::placeholder {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
}

[type="radio"]:not(:checked)+span, [type="radio"]:checked+span {
    font-size: 0.8rem;
}

[type="checkbox"]+span:not(.lever) {
    font-size: 0.8rem;
}

.material-icons {
    font-size: 1.3rem;
}

a.tooltipped {
    color: rgba(0, 0, 0, 0.90);
}

/* ----------------------------------------Responsive breakpoints */

/* --------------------------768 - MD */

@media(min-width: 768px) {
    .input-field {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}