html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    background-image: url("/static/images/krypto_23.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

p {
    font-size: 1rem;
    text-align: justify;
}

p a {
    color: rgba(0, 0, 0, 0.90);
}

a, a:visited, a:active {
    text-decoration: unset;
}

h1 {
    font-size: 2rem;
    padding-bottom: 1.5rem;
    color: white;
    letter-spacing: 0.3rem;
}

h2 {
    font-size: 1.2rem;
}

.er-dark {
    background-color: rgba(0, 0, 0, 0.60);
    overflow: hidden;
    border-radius: 0.3rem;
}

.er-light {
    padding: 1rem 0.5rem 1rem 0.5rem;
    background-color: rgba(245, 245, 245, 0.9);
    overflow: hidden;
    border-radius: 0.3rem;
}

.dropdown-content li span {
    font-size: 1rem;
    color: black!important;
}

.datepicker-date-display {
    background-color: rgba(0, 0, 0, 0.60)!important;
}

/* label color */

.input-field label {
    color: rgba(0, 0, 0, 0.90);
}

/* label focus color */

.input-field .prefix {
    font-size: 1.5rem;
}

.input-field input[type=text]::placeholder, textarea::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.er-center {
    text-align: center;
}

.er-right {
    margin-right: 0px;
    margin-left: auto;
}

.er-main-content {
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}