@import url('https://fonts.googleapis.com/css?family=Krona+One&display=swap');
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    background-image: url("/static/images/krypto_23.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

p {
    font-weight: 100;
    text-align: justify;
}

p a, table a {
    color: rgba(0, 0, 0, 0.90);
    font-weight: 900;
}

a, a:visited, a:active {
    text-decoration: unset;
}

h1 {
    font-size: 2rem;
    padding-bottom: 1.5rem;
    color: rgba(255, 0, 0);
    letter-spacing: 0.3rem;
}

h2 {
    font-size: 1.2rem;
}

select {
    z-index: 1000;
}

.er-logo {
    font-family: 'Krona One';
}

.er-inner-wrap {
    margin: 1rem;
    box-sizing: content-box;
    border-radius: 1rem;
    background-color: rgba(120, 122, 144, 0.3);
}

.er-inner-wrap p {
    font-size: 0.9rem;
}

.er-small {
    padding-top: 0px;
    padding-bottom: 0px;
}

.er-dark {
    background-color: rgba(0, 0, 0, 0.60);
    border-radius: 0.3rem;
    color: white;
}

.er-darker {
    background-color: rgba(28, 29, 30);
    color: white;
}

.er-dark li>a {
    color: white;
}

.er-message {
    color: rgba(255, 0, 0);
    font-weight: 900;
}

.er-light {
    padding: 1rem 0.5rem 1rem 0.5rem;
    background-color: rgba(245, 245, 245, 0.9);
    border-radius: 0.3rem;
}

.sidenav li>a {
    color: white;
}

.dropdown-content li>a {
    color: white;
}

.dropdown-content li>span {
    color: rgba(0, 0, 0, 0.90);
}

.datepicker-date-display {
    background-color: rgba(0, 0, 0, 0.60)!important;
}

/* label color */

.input-field label {
    color: rgba(0, 0, 0, 0.90);
}

/* label focus color */

.input-field .prefix {
    font-size: 1.5rem;
}

.input-field input[type=text]::placeholder, textarea::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.er-center {
    margin-left: auto;
    margin-right: auto;
}

.er-right {
    margin-right: 0px;
    margin-left: auto;
}

.er-main-content {
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}