{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12 er-dark z-depth-5">
        <h1 class="center-align">Register new user</h1>
    </div>
</div>

<div class="row">
    <div class="col s12 er-light z-depth-5">
        <br>
        <form action="{{ url_for('insert_user') }}" method="POST" class="col s12">

            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">face</i>
                    <input placeholder="What will be your username?" id="user_name" name="user_name" type="text"
                        class="validate" required="" aria-required="true">
                    <label for="user_name">Username:</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">email</i>
                    <input placeholder="What's your e-mail address?" id="user_email" name="user_email" type="email"
                        class="validate" required="" aria-required="true">
                    <label for="user_email">E-mail:</label>
                    <a class="tooltipped" data-position="bottom"
                        data-tooltip="Your email address will not be visible on the website.">
                        <i class="material-icons prefix">help_outline</i>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">add_a_photo</i>
                    <input placeholder="Paste the link to your profile picture here" id="profile_pic" name="profile_pic"
                        type="url" class="validate" required="" aria-required="true">
                    <label for="profile_pic">Profile picture:</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">home</i>
                    <input placeholder="In what city do you live?" id="user_city" name="user_city" type="text"
                        class="validate" required="" aria-required="true">
                    <label for="user_city">City:</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">my_location</i>
                    <input placeholder="Wich country are you from?" id="user_country" name="user_country" type="text"
                        class="validate" required="" aria-required="true">
                    <label for="user_country">Country:</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">language</i>
                    <input placeholder="What is your website-address?" id="website" name="website" type="url"
                        class="validate" required="" aria-required="true">
                    <label for="website">Website:</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">mouse</i>
                    <select id="user_role" name="user_role" class="validate" required="" aria-required="true">
                        <option value="" disabled selected>Will you contribute or vote?</option>
                        <option value="contributor">Contribute</option>
                        <option value="voter">Vote</option>
                    </select>
                    <label>Role:</label>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m6">
                    <label for="mailing_list">
                        <input type="checkbox" checked="checked" id="mailing_list" name="mailing_list" value="true" />
                        <span>Keep me informed</span>
                    </label>
                </div>
            </div>

            <div class="row">
                <button class="btn waves-effect waves-light blue-grey darken-3" type="submit">Register
                    <i class="material-icons right">person_add</i>
                </button>
            </div>

        </form>
    </div>
</div>
{% endblock %}