{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s12 er-dark z-depth-5">
        <h1 class="center-align">Login to participate</h1>
    </div>
</div>

<div class="row">
    <div class="col s12 er-light z-depth-5">
        <br>
        {% if message %}
        <p class="center-align er-message">{{ message }}</p>
        <br>
        {% endif %}
        <form action="{{ url_for('activate_user') }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <select id="user" name="user" required="" aria-required="true">
                        <option value="" disabled selected>What's your username ?</option>
                        {% for user in users %}
                        <option value="{{user._id}},{{user.user_name}}">{{user.user_name}}</option>
                        {% endfor %}
                    </select>
                    <label>Username:</label>
                </div>
            </div>
            <div class="row">
                <button onclick="M.toast({html: 'Logging you in'})"
                    class="btn waves-effect waves-light blue-grey darken-3" type="submit">Login
                    <i class="material-icons right">fingerprint</i>
                </button>
            </div>
        </form>
        <p class="center-align"><a href="{{url_for('add_user')}}" title="Goto register page">If
                you haven't already, please register <span class="er-message">here.</span></a></p>
    </div>
</div>


{% endblock %}