{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12 er-dark z-depth-3">

        <h1 class="center-align">Tracks in this contest</h1>

    </div>
</div>

{% if no_tracks %}

<div class="row">
    <div class="col s12 er-light">
        No tracks found
    </div>
</div>

{% else %}

<div class="row">
    <div class="col s12 er-light z-depth-5">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header er-small">
                    <table>
                        <tr>
                            <td class="er-small">
                                <span><i class="material-icons">keyboard_arrow_down</i></span>
                            </td>
                            <td class="center-align er-small">
                                <span>Filter these results :</Filter></span>
                            </td>
                            <td class="right-align er-small">
                                <span><i class="material-icons">keyboard_arrow_down</i></span>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="row collapsible-body">
                    <form action="{{url_for('get_tracks_filtered')}}" method="POST">
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">hearing</i>
                            <select onchange="this.form.submit()" id="style" name="style">
                                <option value="- - -" selected>- - -</option>
                                {% for style in styles %}
                                <option value="{{style.style}}">{{style.style}}</option>
                                {% endfor %}
                            </select>
                            <label>Style:</label>
                        </div>
                    </form>
                    <form action="{{url_for('get_tracks_filtered')}}" method="POST">
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">palette</i>
                            <select onchange="this.form.submit()" id="creation_method" name="creation_method">
                                <option value="- - -" selected>- - -</option>
                                {% for method in methods %}
                                <option value="{{method.method}}">{{method.method}}</option>
                                {% endfor %}
                            </select>
                            <label>Creation method:</label>
                        </div>
                    </form>
                </div>
            </li>
        </ul>


    </div>
</div>


{% for track in tracks %}

<div class="row">
    <div class="col s12 er-light">
        <ul class="collapsible">
            <li>
                <div>
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{track.soundcloud}}&color=%23080606&visual=false&&auto_play=false&hide_related=true&show_comments=flase&show_user=true&show_reposts=false&show_teaser=false&show_playcount=false&liking=fals‌​e&sharing=false&download=false&following=false&buying=false"></iframe>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons er-left">info</i>{{track.artist_name}} - {{track.title}}
                    {# only show edit button to the submitter or the administrator #}
                    {% if track.user_id|replace(' ', '') == session['user_id']|replace(' ', '') or session['user_name'] == 'administrator' %}
                    <a href="{{url_for('view_track', track_id=track._id)}}"
                        class="waves-effect waves-light btn btn_flat blue-grey darken-3 er-right">Edit</a>
                    {% endif %}
                </div>

                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12 m6">
                            <p>
                                {{ track.artist_name }}: {{track.free_text}}
                            </p>

                        </div>
                        <div class="col s12 m6">
                            <p>
                                {{ track.title }} is a {{ track.style.lower() }} track made by {{ track.artist_name }}.
                                It was created in {{ track.creation_date }} and was made using
                                {{ track.creation_method.lower() }}. Credits go to {{ track.credits_who }} for
                                {{ track.credits_what }}. This work is
                                licensed under
                                {{ track.license }}.<br>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p class="er-center">This track was submitted by <a
                                    href="{{url_for('view_user', user_id=track.user_id)}}" name="View user details">
                                    {{ track.user }} </a> on {{ track.submitted }} </p>
                        </div>
                    </div>
                </div>

            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">keyboard_arrow_down</i>Votes
                    <a href="{{url_for('vote_track', track_id=track._id)}}"
                        class="waves-effect waves-light btn btn_flat blue-grey darken-3 er-right">Vote</a>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <table class="striped">
                            {% for vote in track.votes %}
                            <tr>
                                <td>
                                    <a href="{{url_for('view_user', user_id=vote.user_id)}}" name="View user details">
                                        {{ vote.user }}:</a>
                                </td>
                                <td>
                                    {{ vote.vote }} points
                                </td>
                                <td class="right-align">
                                    {{ vote.motivation }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>

                </div>
            </li>
        </ul>
        <div class="row">
            <div class="col s6">
                <p class="left-align">Total score: {{track.total_votes}}</p>
            </div>
            <div class="col s6">
                <p class="right-align">Total score: {{track.total_votes}}</p>
            </div>
        </div>
    </div>
</div>





{% endfor %}
{% endif %}

{% endblock %}