{% extends 'base.html' %}
{% block content %}
<div class="row">

</div>

{% if no_tracks %}

<div class="row">
    <div class="col s12 er-light">
        No tracks found
    </div>
</div>

{% else %}

<div class="row">
    <div class="col s12 er-dark z-depth-3">
        <h1 class="center-align">Tracks in this contest</h1>
    </div>
</div>

<div class="row">
    <div class="col s12 er-light z-depth-5">
        <form action="{{url_for('get_tracks_filtered')}}" method="POST">
            <div class="input-field col s12 m4">
                <i class="material-icons prefix">hearing</i>
                <select onchange="this.form.submit()" id="style" name="style">
                    <option value="- - -" disabled selected>Filter by style</option>
                    {% for style in styles %}
                    <option value="{{style.style}}">{{style.style}}</option>
                    {% endfor %}
                </select>

            </div>
        </form>
        <form action="{{url_for('get_tracks_filtered')}}" method="POST">
            <div class="input-field col s12 m4">
                <i class="material-icons prefix">palette</i>
                <select onchange="this.form.submit()" id="creation_method" name="creation_method">
                    <option value="- - -" disabled selected>Filter by method</option>
                    {% for method in methods %}
                    <option value="{{method.method}}">{{method.method}}</option>
                    {% endfor %}
                </select>

            </div>
        </form>
        <form action="{{url_for('get_tracks_sorted')}}" method="POST">
            <div class="input-field col s12 m4">
                <i class="material-icons prefix">unfold_more</i>
                <select onchange="this.form.submit()" id="sort_tracks" name="sort_tracks">
                    <option class="er-white" value="- - -" disabled selected>Sort results</option>
                    <option value="date_ascending">Date-Ascending</option>
                    <option value="date_descending">Date-Descending</option>
                    <option value="score_ascending">Score-Ascending</option>
                    <option value="score_descending">Score-Descending</option>
                </select>
            </div>
        </form>
    </div>
</div>



{% for track in tracks %}

<div class="row">
    {# Only show ranking on whole list #}
    {% if ranking != 'false' %}
    <div class="er-float z-depth-3">
        <p class="center-align">Rank #<br><span>{{ loop.index }}</span>
        </p>
    </div>
    {% endif %}
    <div class="col s12 er-light">
        <div class="er-track-title">
            <h2>{{ track.artist_name }} - {{ track.title }}</h2>
        </div>
        <ul class="collapsible">
            <li>
                <div>
                    <iframe allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{track.soundcloud}}&color=%23080606&visual=false&&auto_play=false&hide_related=true&show_comments=flase&show_user=true&show_reposts=false&show_teaser=false&show_playcount=false&liking=fals‌​e&sharing=false&download=false&following=false&buying=false"></iframe>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons er-left">keyboard_arrow_down</i>Description
                    {# only show edit button to the submitter or the administrator #}
                    {% if track.user_id|replace(' ', '') == session['user_id']|replace(' ', '') or session['user_name'] == 'administrator' %}
                    <a href="{{url_for('view_track', track_id=track._id)}}" title="edit track details"
                        class="waves-effect waves-light btn btn_flat blue-grey darken-3 er-right">Edit</a>
                    {% endif %}
                </div>

                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12 m10 offset-m1 er-inner-wrap">
                            <h2>{{ track.artist_name }} - {{ track.title }}</h2>
                            <div class="er-info">
                                <p class="center-align">{{track.free_text}}</p>
                            </div>
                            <table>
                                <tr>
                                    <td>Submitted by:</td>
                                    <td><a href="{{url_for('view_user', user_id=track.user_id)}}"
                                            title="View user details">
                                            {{ track.user }} </a></td>
                                </tr>
                                <tr>
                                    <td>Artist:</td>
                                    <td>{{ track.artist_name }}</td>
                                </tr>
                                <tr>
                                    <td>Track title:</td>
                                    <td>{{ track.title }}</td>
                                </tr>
                                <tr>
                                    <td>Style:</td>
                                    <td>{{ track.style }}</td>
                                </tr>
                                <tr>
                                    <td>Method:</td>
                                    <td>{{ track.creation_method }}</td>
                                </tr>
                                <tr>
                                    <td>Created:</td>
                                    <td>{{ track.creation_date }}</td>
                                </tr>
                                <tr>
                                    <td>Submitted:</td>
                                    <td>{{ track.submitted }}</td>
                                </tr>
                            </table>
                            <br>
                            <p class="center-align">Credits go to {{ track.credits_who }} for
                                {{ track.credits_what }}</p>
                            <div class="center-align er-license">
                                <img src="https://evertrot.nl/codeinstitute/milestonethree/{{ track.license }}"
                                    alt="licensed under {{ track.license }}">
                            </div>
                        </div>
                    </div>
                </div>

            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">keyboard_arrow_down</i>Votes
                    {# only show vote button to voters #}
                    {% if session['user_role'] == 'voter' %}
                    <a href="{{url_for('vote_track', track_id=track._id)}}" title="Vote for this track"
                        class="waves-effect waves-light btn btn_flat blue-grey darken-3 er-right">Vote</a>
                    {% endif %}
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12 er-inner-wrap">
                            <div class="">
                                {% for vote in track.votes %}
                                {% if loop.index == loop.length %}
                                <h3 class="">{{ loop.length }} users have already voted for this track</h3>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <table>
                                {% for vote in track.votes %}
                                <tr>
                                    <td>
                                        <a href="{{url_for('view_user', user_id=vote.user_id)}}"
                                            title="View user details">
                                            {{ vote.user }}:</a>
                                    </td>
                                    <td>
                                        {{ vote.vote }}
                                    </td>
                                    <td class="right-align">
                                        {{ vote.motivation }}
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>

                                    <td><br><br>
                                        Total score:
                                    </td>
                                    <td><br><br>
                                        {{ track.total_votes }} points
                                    </td>
                                    <td></td>
                                </tr>
                            </table>

                        </div>

                    </div>
                    <div class="center-align er-vote-button">
                        {# only show vote button to voters #}
                        {% if session['user_role'] == 'voter' %}
                        <a href="{{url_for('vote_track', track_id=track._id)}}" title="Vote for this track"
                            class="waves-effect waves-light btn btn_flat blue-grey darken-3 er-right">Vote for this
                            track now</a>
                        {% endif %}
                    </div>
                </div>
            </li>
        </ul>
        <div class="row">
            <div class="col s12">
                <div class="col s12 l4">
                    <p class="btn-floating btn-small green"><i class="material-icons">hearing</i></p>
                    <span class="er-track-icons"> {{ track.style }}</span>
                </div>
                <div class="col s12 l4">
                    <p class="btn-floating btn-small amber"><i class="material-icons">palette</i></p>
                    <span class="er-track-icons"> {{ track.creation_method }}</span>

                </div>

                <div class="col s12 l4">
                    <p class="right-align"><span class="er-track-icons">Total score:</span>
                        <span class="btn-floating btn-small waves-effect waves-light red pulse">
                            {{track.total_votes}}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>





{% endfor %}
{% endif %}

{% endblock %}