{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12 er-dark z-depth-3">

        <h1 class="center-align">Tracks in this contest</h1>

    </div>
</div>

{% if no_tracks %}

<div class="row">
    <div class="col s12 er-light">
        No tracks found
    </div>
</div>

{% else %}

<div class="row">
    <div class="col s12 er-light z-depth-5">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header er-small">
                    <table>
                        <tr>
                            <td class="er-small">
                                <span><i class="material-icons">keyboard_arrow_down</i></span>
                            </td>
                            <td class="center-align er-small">
                                <span>Filter or sort results :</Filter></span>
                            </td>
                            <td class="right-align er-small">
                                <span><i class="material-icons">keyboard_arrow_down</i></span>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="row collapsible-body">
                    <form action="{{url_for('get_tracks_filtered')}}" method="POST">
                        <div class="input-field col s12 m4">
                            <i class="material-icons prefix">hearing</i>
                            <select onchange="this.form.submit()" id="style" name="style">
                                <option value="- - -" selected>- - -</option>
                                {% for style in styles %}
                                <option value="{{style.style}}">{{style.style}}</option>
                                {% endfor %}
                            </select>
                            <label>Style:</label>
                        </div>
                    </form>
                    <form action="{{url_for('get_tracks_filtered')}}" method="POST">
                        <div class="input-field col s12 m4">
                            <i class="material-icons prefix">palette</i>
                            <select onchange="this.form.submit()" id="creation_method" name="creation_method">
                                <option value="- - -" selected>- - -</option>
                                {% for method in methods %}
                                <option value="{{method.method}}">{{method.method}}</option>
                                {% endfor %}
                            </select>
                            <label>Creation method:</label>
                        </div>
                    </form>
                    <form action="{{url_for('get_tracks_sorted')}}" method="POST">
                        <div class="input-field col s12 m4">
                            <i class="material-icons prefix">unfold_more</i>
                            <select onchange="this.form.submit()" id="sort_tracks" name="sort_tracks">
                                <option value="- - -" selected>- - -</option>
                                <option value="date_ascending">Date-Ascending</option>
                                <option value="date_descending">Date-Descending</option>
                                <option value="score_ascending">Score-Ascending</option>
                                <option value="score_descending">Score-Descending</option>
                                <option value="date_ascending">Date-Ascending</option>
                                <option value="date_descending">Date-Descending</option>
                            </select>
                            <label>Sort tracks:</label>
                        </div>
                    </form>
                </div>
            </li>
        </ul>


    </div>
</div>


{% for track in tracks %}

<div class="row">
    <div class="col s12 er-light">
        <ul class="collapsible">
            <li>
                <div>
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{track.soundcloud}}&color=%23080606&visual=false&&auto_play=false&hide_related=true&show_comments=flase&show_user=true&show_reposts=false&show_teaser=false&show_playcount=false&liking=fals‌​e&sharing=false&download=false&following=false&buying=false"></iframe>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons er-left">keyboard_arrow_down</i>{{track.artist_name}} - {{track.title}}
                    {# only show edit button to the submitter or the administrator #}
                    {% if track.user_id|replace(' ', '') == session['user_id']|replace(' ', '') or session['user_name'] == 'administrator' %}
                    <a href="{{url_for('view_track', track_id=track._id)}}" title="edit track details"
                        class="waves-effect waves-light btn btn_flat blue-grey darken-3 er-right">Edit</a>
                    {% endif %}
                </div>

                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12 m8 er-inner-wrap">
                            <h2>{{ track.artist_name }} - {{ track.title }}</h2>
                            <p class="left-align">{{track.free_text}}</p>
                            <p class="left-align">
                                {{ track.title }} is a {{ track.style.lower() }} track made by
                                {{ track.artist_name }}.<br>
                                It was created in {{ track.creation_date }} and was made using
                                {{ track.creation_method.lower() }}.<br>
                                Credits go to {{ track.credits_who }} for {{ track.credits_what }}.<br>
                            </p>
                        </div>
                        <div class="col s12 m6 offset-m6 er-inner-wrap">
                            <p class="center-align">This track was submitted by <a
                                    href="{{url_for('view_user', user_id=track.user_id)}}" title="View user details">
                                    {{ track.user }} </a><br>{{ track.submitted }}</p>
                            <div class="center-align er-license">
                                <img src="static/images/{{ track.license }}" alt="licensed under {{ track.license }}">
                            </div>
                        </div>
                    </div>
                </div>

            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">keyboard_arrow_down</i>Votes
                    {# only show vote button to contributors #}
                    {% if session['user_role'] == 'voter' %}
                    <a href="{{url_for('vote_track', track_id=track._id)}}" title="Vote for this track"
                        class="waves-effect waves-light btn btn_flat blue-grey darken-3 er-right">Vote</a>
                    {% endif %}
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12 er-inner-wrap">
                            <table>
                                {% for vote in track.votes %}
                                <tr>
                                    <td>
                                        <a href="{{url_for('view_user', user_id=vote.user_id)}}"
                                            title="View user details">
                                            {{ vote.user }}:</a>
                                    </td>
                                    <td>
                                        {{ vote.vote }} points
                                    </td>
                                    <td class="right-align">
                                        {{ vote.motivation }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="row">
            <div class="col s12">
                <div class="col s12 m4 l3">
                    <p class="btn-floating btn-small green"><i class="material-icons">hearing</i></p>
                    {{ track.style }}
                </div>
                <div class="col s12 m4 l3">
                    <p class="btn-floating btn-small amber"><i class="material-icons">palette</i></p>
                    {{ track.creation_method }}
                </div>
                <div class="col s6 m4 l2 offset-l2">
                    {% for vote in track.votes %}
                    {% if loop.index == loop.length %}
                    <p class="btn-floating btn-small blue-grey darken-3">{{ loop.length }}</p><span> voted</span>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col s6 m12 l2">
                    <p class="right-align">Total score: <span
                            class="btn-floating btn-small waves-effect waves-light red pulse">
                            {{track.total_votes}}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>





{% endfor %}
{% endif %}

{% endblock %}