{% extends 'base.html' %}
{% block content %}
<h1>Profile for {{ user.user_name }}</h1>
<div class="row">
    <form action="{{ url_for('update_user', user_id=user._id) }}" method="POST" class="col s12">

        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">face</i>
                <input value="{{user.user_name}}" id="user_name" name="user_name" type="text" class="validate"
                    required="" aria-required="true">
                <label for="user_name">Username:</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">email</i>
                <input value="{{user.user_email}}" id="user_email" name="user_email" type="email" class="validate"
                    required="" aria-required="true">
                <label for="user_email">E-mail:</label>
                <a class="tooltipped" data-position="bottom"
                    data-tooltip="Your email address will not be visible on the website.">
                    <i class="material-icons prefix">help_outline</i>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">add_a_photo</i>
                <input value="{{user.profile_pic}}" id="profile_pic" name="profile_pic" type="url" class="validate"
                    required="" aria-required="true">
                <label for="profile_pic">Profile picture:</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">home</i>
                <input value="{{user.user_city}}" id="user_city" name="user_city" type="text" class="validate"
                    required="" aria-required="true">
                <label for="user_city">City:</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">my_location</i>
                <input value="{{user.user_country}}" id="user_country" name="user_country" type="text" class="validate"
                    required="" aria-required="true">
                <label for="user_country">Country:</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">language</i>
                <input value="{{user.website}}" id="website" name="website" type="url" class="validate" required=""
                    aria-required="true">
                <label for="website">Website:</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">mouse</i>
                <select id="user_role" name="user_role" class="validate" required="" aria-required="true">
                    <option value="{{user.user_role}}" disabled selected>Will you contribute or vote?</option>
                    <option value="contributor">Contribute</option>
                    <option value="voter">Vote</option>
                </select>
                <label>Role:</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <label for="mailing_list">
                    <input type="checkbox" checked="checked" id="mailing_list" name="mailing_list" value="true" />
                    <span>Keep me informed</span>
                </label>
            </div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light grey" type="submit">Register
                <i class="material-icons right">playlist_add</i>
            </button>
        </div>

    </form>
</div>

{% endblock %}